:root {
  --color-primary: #e18508;
  --bgColor-primary: var(--color-primary);
  --font: 1em;
}

.contents {
  display: flex;
  flex-direction: column;
  background-color: black;
  width: 100%;
  margin: auto;
  padding: 0 0 0 10px;
  color: white;
  background-image: url("/src/assets/backgroundF1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  font-size: var(--font);
  box-sizing: border-box;
  min-height: 1020px;
}
.header {
  /* text-align: center; */
  margin-top: 5px;
  font-size: 2em;
}
.contentsBody {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 45px;
  gap: 6%;
  animation: altura 1s forwards;
}

.sideOptions {
  background-color: rgb(212, 124, 0);
  border-radius: 15px;
  padding: 25px;
  /* height: 400px; */
  /* box-sizing: border-box; */
  position: fixed;
  box-shadow: inset 0px 0px 10px -3px white;
  animation: ancho 1s forwards;
}

@keyframes ancho {
  0% {
    width: 0;
    font-size: 0em;
  }
  100% {
    width: 18%;
    font-size: var(--font);
  }
}

/* .sideCards {
  margin-left: 30%;
  display: flex;
  flex-direction: row;
  max-width: 59%;
  width: 650px;
  flex-wrap: wrap;
  justify-content: space-evenly;
  box-sizing: border-box;
  border-radius: 6px;
} */
